.vbox {
    -fx-background-color: #F5F5F5;
    -fx-padding: 30px;
    -fx-border-radius: 10px;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 2px;
}

#upperDisplayText {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #006699;
}

#Hbox {
    -fx-spacing: 10.0;
    -fx-alignment: CENTER;
}

.text-field, .password-field {
    -fx-font-size: 18px;
}

#loginButton {
    -fx-font-size: 18px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#registerButton {
    -fx-font-size: 18px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#registerButton2 {
    -fx-font-size: 18px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#submitReviewButton {
    -fx-font-size: 18px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#checkReviewsButton {
    -fx-font-size: 18px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#logOutButton {
    -fx-font-size: 18px;
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#backButton {
    -fx-font-size: 18px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#submitButton {
    -fx-font-size: 18px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

#seeReviewsButton {
    -fx-font-size: 18px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}
